{% extends "base_index.html" %}


{% block sidebar%}


        <h2>About Me</h2>
 
  
        <h3>Categories</h3>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">Software Development</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Web Development</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Testing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Research</a>
            </li>
        </ul>
        <br>
        <hr />
        <br>
        <hr class="d-sm-none">


{% endblock%}



{% block content %}


              <h1 class="mt-4">{{image.title}}</h1>
              <p class="lead">
                Escrito para  <a href="#"> {{image.url}} </a>
              </p>



      {% if image.comment_set.all %}

       <div class="card-body">
         <h2 class="card-title"> Comentarios</h2>
          <hr>
      	<div class="comments">
      	{% for comment in image.comment_set.all %}


             <div class="media mb-4">
                {% if comment.profile.photo %}
                <img class="d-flex mr-3 rounded-circle" width="50px" height="50px" src="/media/users/pictures/perfilsinfoto.png" alt="algo">
       
                {% else %}
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                {% endif %}
                <div class="media-body"> 
      	<span>
      	<a href="{{ comment.website }}">{{ comment.name|capfirst }}</a> dijo el dia {{ comment.created_on }}
      	</span>
      	<p>
      	{{ comment.text |safe}}
      	</p>

                </div>
              </div>

        <hr />



      	{% endfor %}
      </div>
      </div>

      {% endif %}
        <hr />



              <!-- comments -->
      <h2>Deja un Comentario</h2>

        <hr />

      <form action="{% url 'detail' image.url %}" method="POST">
      {% csrf_token %}
      <table>
      {{ form.as_table }}
      </table>
      <input type="submit" name="submit" value="Submit" />
      </form>

        <hr />


</div>

















{% endblock %}





